.detailsPageSwiper-container {
  width: 95%;
  height: 281px !important;
  border-radius: 10px;
  margin: 19px auto;
  overflow: hidden;

  .mySwiper2 {
    .swiper-slide {
      width: 79px !important;
      height: 79px;
      img {
        border-radius: 3px;
      }
    }
    .swiper-wrapper {
      height: 79px;
    }
  }

  .swiper {
    width: 100%;
    margin-bottom: 20px;
  }
  .swiper-slide {
    width: 374px !important;
    height: 186px;
    border-radius: 10px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      border-radius: 10px;
    }
  }
}
/* ____ MEDIA QUERIES (SMALL DEVICES) ________ */
// @media screen and (max-width: 600px) {
//   .detailsPageSwiper-container {
//     height: 186px;
//   }
//   .detailsPageSwiper-container .swiper {
//     max-height: 186px;
//   }
// }
