@import "../../../style.scss";

.registerPage {
  @include themify($themes) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: themed("bg");
    gap: 40px;
    padding: 70px 0px;

    .logo-container {
      padding-top: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      span {
        font-family: "Cairo";
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 41px;
        color: themed("textColor");
      }

      .edit-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 176px;
        height: 176px;
        border: none;
        border-radius: 50%;
        background-color: rgba(44, 123, 229, 0.3);
        background-image: url("../../../assets/svgs/Vectorregister.svg");
        background-repeat: no-repeat;
        background-position: center;
        .selected-img {
          height: 100%;
          object-fit: cover;
          overflow: hidden;
          border-radius: 50%;
          border: none;
          outline: none;
          border-style: none;
          z-index: 999;
        }
        .img-container {
          border-radius: 50%;
        }
        span {
          position: absolute;
          bottom: 10px;
          padding-top: 10px;
          font-size: 15px;
          font-weight: 200;
          color: themed("textColor");
          // z-index: 1;
        }
      }
    }
    
    .input-container {
      display: flex;
      flex-direction: column;
      direction: rtl;
      gap: 10px;

      .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
        color: themed("blackGray");
        &::placeholder {
          color: themed("textColor");
        }
      }

      .input fieldset {
        font-family: "Cairo";
        margin: 10px 0px;
        border: 1px solid themed("border");
        border-radius: 10px;
        color: themed("textColor") !important;
      }
      .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
        color: themed("placeholder");
        font-family: "Cairo";
      }
      
      .select-input {
        margin: 10px 0px;
        cursor: pointer;

        select {
          width: 351px;
          max-width: 351px;
          height: 40px;
          padding: 0px 10px;
          border-radius: 10px;
          font-family: "Cairo";
          font-size: 16px;
          border: 1px solid themed("border");
          background-color: themed("bg");
          color: themed("textColor");
          -webkit-appearance: none;
          -moz-appearance: none;

          &:invalid {
            color: themed("placeholder");
          }

          &:focus {
            box-shadow: none;
            outline: none;
          }

          option {
            color: themed("textColor");
            background-color: themed("bgSoft");
            border: 1px solid themed("border");
          }
        }
      }
    }

    .btn {
      // margin-top: 20px;
      width: 130px;
      height: 46px;
      border-radius: 12px;
      background: themed("orangeBlueIcons");
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      span {
        font-family: "Cairo";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #ffffff;
      }
    }

    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      // padding-top: 30px;

      .footer-title {
        margin-bottom: 10px;

        .link {
          text-align: center;
          text-decoration: none;
          width: 100%;

          span {
            font-weight: 600;
            color: themed("orangeBlueIcons");
          }
        }
      }

      span {
        font-family: "Cairo";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
        color: themed("textColor");
      }
    }
  }
}

/* ____ MEDIA QUERIES (MEDIUM DEVICES) ________ */
@media screen and (min-width: 600px) {
  .registerPage {
    padding: 100px 0px;
  }
}
