.pagecontainer-container {
  width: 100%;
  height: 1000px;
  background-color: red;
}

.pagecontainer-container > .swiper {
  width: 100%;
  height: 1000px;
}
/* 
.pagecontainer-container .swiper-slide {
  
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
} */
