@import "../../../style.scss";

.CartListItem-container {
  @include themify($themes) {
    background: themed("bgSoft");
    width: 95%;
    min-height: 97px;
    height: max-content;
    border-radius: 10px;
    margin: 13px auto;
    display: grid;
    grid-template-columns: 15% 85%;

    .delete-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #989898;
    }

    .single-product {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;
      padding-top: 10px;
      padding-right: 22px;
      margin-bottom: 10px;
      gap: 10px;
      width: 100%;
      @include mobile {
        padding-right: 12px;
      }
      .product-title {
        color: themed("textColor");
        text-align: right;
        font-family: "Cairo";
        font-style: normal;
        width: 60%;
        height: max-content;

        .title {
          width: 100%;
          height: max-content;
          font-weight: 500;
          font-size: 18px;
          line-height: 30px;
          @include mobile {
            font-size: 16px;
          }
        }
        p {
          height: max-content;
          font-weight: 500;
          font-size: 20px;
          line-height: 41px;
          direction: rtl;
          @include mobile {
            font-size: 18px;
          }
        }
      }

      .img-container {
        width: 25%;
        height: 66px;
        //   border-radius: 10px;
        @include mobile {
          margin-top: 10px;
          width: 28%;
          height: 76px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
          overflow: hidden;
          border-radius: 10px;
        }
      }

      .quantity-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 38px;
        @include mobile {
          margin-top: 10px;
        }

        .remove-icon {
          color: #b8b8b8;
          font-size: 25px;
        }
        .add-icon {
          color: themed("blueWhite");
          border-radius: 39px;
          background: themed("iconBg");
          font-size: 22px;
        }
        .remove-icon {
          color: #b8b8b8;
          font-size: 28px;
        }

        span {
          font-family: "Cairo";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          padding: auto;
          color: themed("textColor");
        }
      }
    }
  }
}

/* ____ MEDIA QUERIES (MEDIUM DEVICES) ________ */
@media screen and (min-width: 600px) {
  .CartListItem-container {
    min-height: 130px;

    .delete-icon {
      .dicon {
        font-size: 45px;
      }
    }

    .single-product {
      .product-title {
        .title {
          font-size: 14px;
          line-height: 30px;
        }
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 41px;
          direction: rtl;
        }
      }

      .img-container {
        width: 129px;
        height: 86px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
          border-radius: 10px;
        }
      }

      .quantity-icons {
        .remove-icon {
          color: #b8b8b8;
          font-size: 35px;
        }
        .add-icon {
          color: var(--color-mainBlue);
          border-radius: 50%;
          background: rgba(44, 123, 229, 0.3);
          font-size: 32px;
        }

        span {
          font-family: "Cairo";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          padding: auto;
          color: var(--color-mainBlue);
        }
      }
    }
  }
}
