.mainswiper-container {
  width: 95%;
  height: 350px;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.mainswiper-container .swiper {
  width: 100%;
  max-height: 351px;
}

.mainswiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainswiper-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ____ MEDIA QUERIES (SMALL DEVICES) ________ */
@media screen and (max-width: 600px) {
  .mainswiper-container {
    height: 150px;
  }
  .mainswiper-container .swiper {
    max-height: 151px;
  }
}
