@import "../../../style.scss";

.categoryswiper-container {
  @include themify($themes) {
    width: 100%;
    /* height: 25px; */
    margin-top: 15px;
    margin-bottom: 15px;

    .container-title {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 15px;
      padding-bottom: 10px;
      margin-top: 20px;

      .bar {
        width: 4px;
        height: 32px;
        background: themed("orangeBlueIcons");
      }

      h3 {
        font-family: "Cairo";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 37px;
        text-align: right;
        color: themed("textColor");
        padding-right: 8px;
      }
    }

    .category-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      flex-direction: row;
      padding: 5px;
      gap: 10px;

      .category-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        min-width: fit-content;
        // width: auto;
        p {
          font-family: "Cairo";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 30px;
          text-align: right;
          color: themed("textColor");
        }
      }

      .light-filter {
        filter: invert(47%) sepia(59%) saturate(4340%) hue-rotate(200deg)
          brightness(92%) contrast(94%);
      }
      .light-ActiveFilter {
        filter: invert(51%) sepia(40%) saturate(4477%) hue-rotate(334deg)
          brightness(107%) contrast(101%);
      }

      .dark-filter {
        filter: invert(88%) sepia(15%) saturate(0%) hue-rotate(211deg)
          brightness(97%) contrast(94%);
      }
      .dark-ActiveFilter {
        filter: invert(47%) sepia(59%) saturate(4340%) hue-rotate(200deg)
          brightness(92%) contrast(94%);
      }

      .icon-category {
        color: themed("mainIconColor");
      }
    }
    .active-category {
      color: themed("orangeBlueIcons");
      p {
        color: themed("orangeBlueIcons") !important;
      }
    }

    .mySwiper {
      width: 95% !important;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      width: auto !important;
      height: 35px;
      font-size: 18px;
      background: #fff;
      border-radius: 10px;
      background-color: themed("bgSoft");

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
