.section-products {
  a,
  a:hover {
    text-decoration: none;
    color: inherit;
  }

  .container {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    // .card {
    //   background: var(--color-white);
    //   height: 350px;
    //   border-radius: 10px;
    //   overflow: hidden;
    //   margin: 10px 0;
    // }

    // .single-product {
    //   margin-bottom: 26px;
    //   width: 300px;
    //   border-radius: 10px;

    // }

    .error-message {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: red;
      font-size: 20px;
      img {
        width: 200px;
        height: 200px;
      }
    }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    button {
      width: 98px;
      height: 34px;
      border-radius: 10px;
      background: var(--color-mainBlue);
      border: none;
      padding: 2px;
      span{
        font-family: "Cairo";
        font-style: normal;
        font-weight: 500;
        color: var(--color-white);
        font-size: 15px;
      }
    }
  }
}

/* ____ MEDIA QUERIES (MEDIUM DEVICES) ________ */
@media screen and (max-width: 1024px) {
  .section-products .container {
    grid-template-columns: 33% 33% 33%;
  }
}

/* ____ MEDIA QUERIES (SMALL DEVICES) ________ */
@media screen and (max-width: 600px) {
  .section-products .container {
    grid-template-columns: 50% 50%;
  }
}
