@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-mainBlue: #2c7be5;
  --color-bg: #edf2f9;
  --color-bg-Blue: rgba(44, 123, 229, 0.5);
  --color-white: #ffffff;
  --color-orange: #ff6347;
  --color-gray: #989898;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
}
#root {
  background-color: var(--color-bg);
  /* min-height: 100vh; */
}
::placeholder {
  color: var(--color-mainBlue);
  font-family: "Cairo";
}

::-webkit-scrollbar {
  width: 3px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c7be5;
  border-radius: 10px;
}
