.mostsaledproduct-container {
  width: 250px;
  height: 266px;
  border-radius: 10px;
  position: relative;
  margin-top: 15px;
}

.mostsaledproduct-container .product-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding-right: 5px;
  height: 80px;
  background-color: rgba(44, 123, 229, 0.5);
  border-radius: 10px;
  width: 100%;
  color: var(--color-white);
  text-align: right;
}

.mostsaledproduct-container .product-footer .product-info {
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding-right: 5px;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  padding-top: 5px;
}
.mostsaledproduct-container .product-footer .product-info span {
  padding-top: 8px;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
}

.mostsaledproduct-container .product-footer .product-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}
.mostsaledproduct-container .product-footer .product-icon .icon {
  font-size: 40px;
  cursor: pointer;
}

.product-img {
  position: absolute;
  border-radius: 10px;
}

/* ____ MEDIA QUERIES (MEDIUM DEVICES) ________ */
@media screen and (max-width: 1024px) {
  .mostsaledproduct-container {
    width: 210px;
    height: 200px;
  }
  .mostsaledproduct-container .product-footer {
    height: 60px;
  }
}

/* ____ MEDIA QUERIES (SMALL DEVICES) ________ */
@media screen and (max-width: 600px) {
  .mostsaledproduct-container {
    width: 110px;
    height: 136px;
  }
  .mostsaledproduct-container .product-footer {
    height: 40px;
  }
  .mostsaledproduct-container .product-footer .product-info {
    font-size: 10px;
    line-height: 10px;
  }
  .mostsaledproduct-container .product-footer .product-info span {
    padding-top: 0;
    font-size: 16px;
    line-height: 25px;
  }
  .mostsaledproduct-container .product-footer .product-icon .icon {
    font-size: 25px;
  }
}
